body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei"; }

.hidden {
  visibility: hidden;
  opacity: 0 !important; }

.float-container:after, .panel:after {
  content: "";
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  display: block; }

.left, .panel {
  float: left; }

.right {
  float: right; }

.main-wrap {
  width: 40%;
  max-width: 1024px;
  min-width: 312px;
  margin: 0 auto; }

.welcome-wrap {
  margin-bottom: 5%; }

/*for mobile only*/
.expand {
  display: none; }

.action-wrap {
  width: 24%; }

.actions {
  width: 100%; }

.action-item {
  width: 100%;
  margin: 2% 0;
  border: 4px solid #fff;
  color: #666;
  outline: none;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-text-shadow: 0px 0px 6px #fff;
  -moz-text-shadow: 0px 0px 6px #fff;
  -ms-text-shadow: 0px 0px 6px #fff;
  -o-text-shadow: 0px 0px 6px #fff;
  text-shadow: 0px 0px 6px #fff;
  transition: 0.1s all linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1000px; }

.action-inner {
  width: 100%;
  background: #a6e4fe;
  border: 4px solid #a6e4fe;
  transition: 0.1s all linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 0px 0px #666;
  -moz-box-shadow: 0px 0px 0px 0px #666;
  -ms-box-shadow: 0px 0px 0px 0px #666;
  -o-box-shadow: 0px 0px 0px 0px #666;
  box-shadow: 0px 0px 0px 0px #666; }

.action-item:hover {
  border-color: #a6e4fe; }

.action-item:hover .action-inner {
  color: #fff;
  border-color: #fff; }

.action-item:active {
  color: #fff; }

.action-item:active .action-inner {
  -webkit-box-shadow: 0px 0px 6px 0px #666;
  -moz-box-shadow: 0px 0px 6px 0px #666;
  -ms-box-shadow: 0px 0px 6px 0px #666;
  -o-box-shadow: 0px 0px 6px 0px #666;
  box-shadow: 0px 0px 6px 0px #666; }

.action-item:active:hover {
  border-color: #fff; }

.action-item:active .action-inner {
  border-color: #a6e4fe; }

.action-item.disabled {
  border-color: #fff;
  cursor: default; }

.action-item.disabled .action-inner {
  border-color: #a6e4fe;
  background: #fff; }

.action-item.disabled:hover .action-inner {
  color: #666; }

.pixel-wrap {
  margin-top: 16px; }

.pixel-item, .pixel {
  width: 28px;
  height: 28px;
  float: left;
  position: relative;
  border-radius: 6px;
  border: 2px solid #fff;
  color: #666;
  outline: none;
  display: block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  -webkit-text-shadow: 0px 0px 6px #fff;
  -moz-text-shadow: 0px 0px 6px #fff;
  -ms-text-shadow: 0px 0px 6px #fff;
  -o-text-shadow: 0px 0px 6px #fff;
  text-shadow: 0px 0px 6px #fff;
  transition: 0.1s all linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.pixel-inner {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #a6e4fe;
  border: 2px solid #a6e4fe;
  transition: 0.1s all linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 0px #666;
  -moz-box-shadow: 0px 0px 0px 0px #666;
  -ms-box-shadow: 0px 0px 0px 0px #666;
  -o-box-shadow: 0px 0px 0px 0px #666;
  box-shadow: 0px 0px 0px 0px #666;
  transition: 0.1s all linear; }

.pixel-item:hover {
  border-color: #a6e4fe; }

.pixel-item:hover .pixel-inner {
  color: #fff;
  border-color: #fff; }

.pixel-item.active {
  color: #fff;
  z-index: 1; }

.pixel-item.active .pixel-inner {
  -webkit-transform: scale(1.125);
  -moz-transform: scale(1.125);
  -ms-transform: scale(1.125);
  -o-transform: scale(1.125);
  transform: scale(1.125);
  -webkit-box-shadow: 0px 0px 6px 0px #666;
  -moz-box-shadow: 0px 0px 6px 0px #666;
  -ms-box-shadow: 0px 0px 6px 0px #666;
  -o-box-shadow: 0px 0px 6px 0px #666;
  box-shadow: 0px 0px 6px 0px #666; }

.pixel-item.active:hover {
  border-color: #fff; }

.pixel-item.active .pixel-inner {
  border-color: #a6e4fe; }

.pixel.pixel-level-1 {
  background-color: #86F; }

.pixel.pixel-level-1 .pixel-inner {
  background-color: rgba(166, 228, 254, 0.9); }

.pixel.pixel-level-2 {
  background-color: #86F; }

.pixel.pixel-level-2 .pixel-inner {
  background-color: rgba(166, 228, 254, 0.8); }

.pixel.pixel-level-3 {
  background-color: #86F; }

.pixel.pixel-level-3 .pixel-inner {
  background-color: rgba(166, 228, 254, 0.7); }

.pixel.pixel-level-4 {
  background-color: #86F; }

.pixel.pixel-level-4 .pixel-inner {
  background-color: rgba(166, 228, 254, 0.6); }

.panel {
  clear: both; }

.pixel.blank .pixel-inner {
  background-color: #fff; }

/*
.align_left {
    clear: left;
}

.panel.align_left, .panel.h_center {
    margin-right:6px;
}

.panel.align_top, .panel.v_center {
    margin-bottom:6px;
}
*/
.pixel {
  opacity: 1;
  -webkit-transfrom: scale(1);
  -moz-transfrom: scale(1);
  -ms-transfrom: scale(1);
  -o-transfrom: scale(1);
  transfrom: scale(1);
  transition: 0.4s all linear; }

.pixel.fadeout {
  opacity: 0;
  -webkit-transfrom: scale(2);
  -moz-transfrom: scale(2);
  -ms-transfrom: scale(2);
  -o-transfrom: scale(2);
  transfrom: scale(2); }

.pixel.init .pixel-inner {
  background-color: #666;
  color: #fff;
  cursor: default; }

.pixel.preview .pixel-inner {
  opacity: 0.6; }

.pixel.conflict .pixel-inner {
  color: #F00; }

/*for mobiles*/
@media only screen and (max-width: 880px) {
  .titleText, .expand, .title {
    line-height: 32px;
    height: 32px;
    float: left;
    margin: 0 2%; }

  .info {
    display: none; }

  .expand {
    display: block;
    width: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
    color: #000;
    -webkit-text-shadow: 0px 0px 0px #fff;
    -moz-text-shadow: 0px 0px 0px #fff;
    -ms-text-shadow: 0px 0px 0px #fff;
    -o-text-shadow: 0px 0px 0px #fff;
    text-shadow: 0px 0px 0px #fff;
    transition: 0.2s all linear; }

  .expand:hover {
    color: #fff;
    -webkit-text-shadow: 0px 0px 6px #666;
    -moz-text-shadow: 0px 0px 6px #666;
    -ms-text-shadow: 0px 0px 6px #666;
    -o-text-shadow: 0px 0px 6px #666;
    text-shadow: 0px 0px 6px #666; }

  .welcome-wrap {
    margin: 2% 0;
    background: #a6e4fe; }

  .action-wrap {
    position: absolute;
    top: -2%;
    min-width: 126px;
    height: 0px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s all linear; }

  .action-item, .action-item.disabled {
    border-radius: 0px;
    border-width: 2px;
    margin: 0; }

  .action-item:hover {
    border-radius: 0px;
    border-width: 2px; }

  .action-item .action-inner {
    border-radius: 0px;
    border-width: 2px;
    padding: 2% 0; }

  .action-item:hover .action-inner {
    border-radius: 0px;
    border-width: 2px; }

  .content-wrap {
    float: left;
    position: relative; }

  .pixel-wrap {
    float: right;
    width: 32px;
    margin: 0 4%; }

  .welcome-wrap:after {
    content: "";
    clear: both;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    display: block; } }
